@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;1,800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
header {
  background-color: #ff8f0e2d;
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
}
.brandtext h1 {
  color: var(--Dark-01, #131313);
  font-size: 45px;
  font-weight: 700;
}
nav a{
    color: var(--Dark-02, #424242);
font-size: 18px;
font-weight: 500;
line-height: 26px;
text-decoration: none;
}
.ull {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
}


.brand-sec {
  margin-top: 90px;
}
.brandtext {
  width: 862px;
  text-align: center;
  margin: 0 auto;
}
.brandtext h1{
    color: var(--Dark-01, #131313);
font-size: 64px;
font-weight: 700;
}
.brandwi{
    width: 800px;
    margin: 0px auto;
}
.brandtext p{
    color: var(--Dark-03, #727272);
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-top: 20px;
}
.brandtext button{
    width: 180px;
height: 64px;
border-radius: 8px;
background-color: #FF900E;
border: none;
font-size: 16px;
font-weight: 600;
color: white;
margin-top: 20px ;
}
.brandimg img{
    width: 100%;
    margin-top: 30px;
}

main{
    width: 1240px;
    margin: 30px auto;
    
}

.quick{
    display: flex;

}
.left{
    width: 50%;
    display: grid;
    grid-template-areas: 
    "op1 op2"
    "op3 op4"
    ;
    gap: 20px;
}
.left img{
    width: 100%;
}
.op1{
    grid-area: op1;
}
.op2{
    grid-area: op2;
}
.op3{
    grid-area: op3;
}
.op4{
    grid-area: op4;
}

.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
}

.rightwidth{
    width: 500px;
    
}

.right p{
margin-top: 15px;
color: var(--Dark-03, #727272);
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.right button{
    width: 160px;
height: 54px;
background-color: #FF900E;
font-size: 16px;
font-weight: 600;
margin-top: 15px;
border: none;
border-radius: 10px;
color: white;
}

/* facts */
.some-facts{
    margin-top: 40px;
}

.fact-text{
    width: 30vw;
    text-align: left;
}
.fact-text p{
    margin-top: 20px;
}
.box{
    width: 241.831px;
height: 241.831px;
border: 2px solid orange;
text-align: center;
margin: auto 0;
border-radius: 8px;


}
.box img{
margin-top: 50px;
}
.box h4{
    color: var(--Dark-02, #424242);
font-size: 45px;
font-weight: 600;
margin-top: 10px;
}
.box h6{
    color: var(--Dark-03, #727272);
font-size: 20px;
font-weight: 600;
margin-top: 10px;
}


.fact-box{
    
    padding: 70px 50px;
    display: flex;
    justify-content: space-between;
}

.sponsor h1{
    color: var(--Dark-01, #131313);
font-size: 45px;
font-weight: 700;
text-align: center;
}
.sponsor h6{
    color: var(--Dark-03, #727272);
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
margin-top: 20px;
}
.sponsor-text{
    width: 542px;
    margin: auto;
}
.sponimg{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.sponimg img{
    width: 165.833px;
height: 50px;
}
.foot{
    width: 1440px;
height: 100px;
border-radius: 20px;
width: 1240px;
margin: 100px auto;
background-color: antiquewhite;
}
.foot h5{
    color: var(--Dark-02, #424242);
text-align: center;
font-size: 20px;
font-weight: 400;
padding-top: 40px;
}



/* media for responsive */

@media screen and (max-width:576px) {
    .sponsor-text{
        width: 100%;
    }
    .sponimg{
        flex-direction: column;
    }
    .sponimg img{
        margin: auto;
        margin-top: 20px;
    }
    .foot{
        width: 95%;
        background-color: white;

    }
    
    header{
        padding: 20px 10px;
    }
    nav{
        flex-direction: column;
        
    }
    .brandtext{
        width: 100%;
    }
    .brandtext h1{
        font-size: 44px;
    }
    .ull{
        flex-wrap: wrap;
        margin-top: 20px;
    }
    .rightwidth{
        width: 100%;
    }

    main{
        width: 100%;
    }
    
    .left{
        grid-template-areas: 
        "op1"
       
        
        ;
        width: 100%;
        margin-top: 10px;
        padding: 20px;
       
    }
    
    .left img{
       
        width: 100%;
    }
    .op2, .op3, .op4{
        display: none;
    }
    .brandwi{
        width: 100%;
    }
    .quick{
        flex-direction: column-reverse;
    }
    .rightwidth {
        width: 100%;
    }
    .right{
        width: 100%;
        margin-left: 10px;
    }

    /* fact */
    .fact-box{
        flex-direction: column;
        padding: 30px 60px;
    }
    .box{
        width: 100%;
        margin-bottom: 10px;
    }

.fact-text {
    width: 80%;
    text-align: left;
    padding: 10px;
}
    
}

@media screen and (min-width:577px) and (max-width:786px) {
    .sponimg {
        flex-direction: column;
        margin-left: 50px;
    }
    .sponimg img{
        margin-top: 30px;
    }
    .foot{
        width: 100%;
        background-color: white;
    }
    .brandtext{
        width: 100%;
    }
    .brandwi{
        width: 100%;
    }
    header{
        padding: 40px;
    }
    main{
        width: 100%;
    }
    .quick{
        width: 100%;
        flex-direction: column-reverse;
    }

    
    .op3, .op4{
        display: none;
    }
    .left{
        grid-template-areas: 
        "op1 op2"
       
        
        ;
        width: 100%;
        margin-top: 10px;
        padding: 20px;
}
.fact-text {
    width: 50vw;
    text-align: center;
    margin: auto;
}
.fact-box{
    flex-wrap: wrap ;
    gap: 20px;
    padding: 20px 50px;
}

/* fact */

}







/*  */

@media screen and (min-width:787px) and (max-width:990px) {
    .foot{
        width: 100%;
        background-color: white;
    }
    .sponimg{
        flex-direction: column;
    }
    .sponimg img{
       margin-top: 40px;
       margin-left: 40px;
    }
    header{
    padding: 50px 50px;
   }
   .brandimg{
    width: 100%;
   }
   .brandtext{
    width: 100%;
   }
   .brandwi{
    width: 100%;
   }
    main{
        width: 100%;
    }
    .quick{
        flex-direction: column-reverse;
    }
    
    .op3, .op4{
        display: none;
    }
    .left{
        grid-template-areas: 
        "op1 op2"
       
        
        ;
        width: 100%;
        margin-top: 10px;
        padding: 20px;
       
    }
    .fact-text {
        width: 500px;
        text-align: left;
        margin: 20px;
    }
    .fact-box{
        padding: 20px;
        gap: 20px;
    }
    
}
@media screen and (min-width:991px) and (max-width:1200px){

    .foot{
        width: 100%;
        background-color: white;
    }
    header{
    padding: 50px 50px;
 }
 .quick{
    width: 100%;
    /* flex-direction: column-reverse; */
 }
 .left{
    width: 100%;
 }
 .right{
    width: 100%;
 }
 main{
    width: 100%;
    padding: 50px 50px;
 }
 .fact-text {
    width: 600px;
    text-align: left;
    margin: 20px;
}
.fact-box{
    padding: 20px;
    gap: 20px;
}
}